/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #dde1ee !important;
}

body {
  width: 80%;
  min-width: 1024px;
  margin: 0 auto;
  background-color: #dde1ee;
}

/* || typography */

header {
  background-color: #dde1ee;
  padding: 60px 0;
  display: block;
}

h1, h2, h3 {
  font-family: 'Sonsie One', cursive;
  color: #333;
}

p, input, li, table, label {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #222;
}

h1 {
  font-family: 'Sonsie One', cursive;
  font-size: 5rem;
  text-align: center;
  color: white;
  background-color: #dde1ee;
  padding: 20px;
  margin: 0;
  text-shadow: 2px 2px 10px black;
  
}

h2 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

h3 {
  font-size: 2.2rem;
  margin-top: 1.5rem;
}

p, li, table {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* || header layout */

nav, article, footer, .secondary {
  background-color: #f9f9f9;
}

article, footer, .secondary {
  padding: 10px 30px;
}

article {
  margin-right: 10px;
  flex: 5;
}

nav {
  height: auto;
  min-height: 50px;
  background-color: white;
  display: flex;
  padding: 10px 0;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
  align-items: center;
}

nav li {
  display: inline ;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

nav a:hover, nav a:focus {
  text-decoration: underline;
  color: #4a4a4a
}

nav .search {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 2em;
}

.search input {
  font-size: 1.6rem;
  height: 32px;
}

.search input[type="search"] {
  flex: 3;
  font-size: 1.6rem;
  height: 30px;
  padding-left: 5px;
  border: 1px solid #ccc;
}

.search input[type="submit"] {
  flex: 1;
  margin-left: 0.5rem;
  background: #333;
  border: 0;
  color: white;
  height: 32px;
  cursor: pointer;
}

/* || main layout */

main {
  display: flex;
}


article {
  flex: 5;
  margin-right: 10px;
}

.secondary {
  flex: 2;
  border-left: 1px solid #ccc;
}

footer {
  margin-top: 10px;
  padding: 20px;
  border-top: 1px solid #ccc;
  text-align: center;
}

/* Table styling */

table {
  width: 100%;
  background-color: #fff;
  border-collapse: collapse;
  margin: 20px 0;
}

caption {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 10px;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
}

td {
  text-align: center;
}

th {
  background-color: #eee;
}

tbody tr:nth-child(odd) {
  background-color: #def;
}

/* styling content images and audio */

img, audio {
  display: block;
  margin: 20px auto;
}

audio {
  width: 500px;
}

/* Comments styling */

.comments {
  background-color: #def;
  padding: 20px;
}

.show-hide {
  cursor: pointer;
}

.comments h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.comments font[size="6"]:nth-of-type(2) {
  margin-bottom: 0;
}

.comment-form {
  margin-bottom: 3rem;
}

.comment-form .flex-pair {
  display: flex;
  padding: 1rem 0;
}

.comment-form label {
  padding-right: 15px;
  flex: 1;
  text-align: right;
  font-size: 1.6rem;
}

.comment-form input {
  flex: 3;
}

.show-hide {
  display: block;
  margin: 0 auto 20px;
  padding: 10px 20px;
  background: #333;
  color: white;
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  text-align: center;
  width: 150px;
}

.comment-form input, .comment-form label, .show-hide {
  font-size: 1.6rem;
  line-height: 32px;
}

.comment-form input[type="submit"], .show-hide {
  background: #333;
  border: 0;
  color: white;
}

.comment-form input[type="submit"] {
  width: 30%;
  display: block;
  margin: 0 auto;
}

.comment-container {
  padding: 0;
  list-style: none;
}

.comment-container li {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
}

.comment-container li p:nth-child(1) {
  flex: 1;
  font-weight: bold;
}

.comment-container li p:nth-child(2) {
  flex: 5;
}
